.all {
	width: 950px;
	margin: auto;
	}	

.header {
	height: 487px;
	padding: 30px 0 0 470px;
	background: url(../images/ivan.png) no-repeat #ffffff;
	border-bottom: 1px solid #eaeaea;
	}

#ck1, #ck2 {
	width: 222px;
	padding-top: 140px;
	text-align: center;
	}
	
#ck1 {
	float: left;
	background: url(../images/card-kykyryza-1.png) no-repeat;
	}
	
#ck2 {
	padding-left: 260px;
	background: url(../images/card-kykyryza-2.png) no-repeat;
	background-position: 260px top;
	}

.services_top {
	text-align: center;
	clear: left;
	padding-top: 10px;
	}
	
.services_top span {	
	border-bottom: 2px solid #ffa633;
	padding: 0 30px 20px 30px;
	}
	
.services {
	height: 400px;
	padding-top: 30px;
	border-bottom: 1px solid #eaeaea;
	}
	
.apps {
	clear: left;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 20px 0;
	}

#ios {
	float: left;
	padding: 30px 200px;
	}
	
#android {
	padding: 30px 0;
	}

.footer {
	background: #ffffff;
	}

.how, .who {
	height: 130px;
	margin-bottom: 25px;
	border-bottom: 1px solid #eaeaea;
	}
	
.how {
	width: 350px;
	padding: 10px 0 0 50px;
	float: left;
	}

.who {
	width: 400px;
	padding: 10px 0 0 550px;
	}